.side-nav {
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50px; /* Adjust the width as needed */

}

.side-nav-links {

    display: flex;
    flex-direction: column;
    padding: 1rem 0.5rem 1rem 0.5rem; 
    background: rgba(0,0,0,0.3);
    border-radius: 50px;
    position: relative;
    top: 0px;
}

.side-nav i {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem 1rem 0rem;
}

.side-nav i:hover {
    cursor: pointer;
    color: #FFB30D;
    transition-duration: 0.5s;
}

@media only screen and (max-width: 450px) {
    .side-nav {
        display: none;
    
    }

}