.text-container {
    display: flex;
    height: auto;
    background: rgb(0,9,29);
    background: linear-gradient(180deg, rgba(0,9,29,1) 0%, rgba(0,14,45,1) 71%, rgba(0,21,66,1) 100%); 
}



.infos {
    display: flex;
    flex-direction: column;
    width: 40%;

}

.badge-container {

    margin-left: 2rem;


}

.badge-container img {
    width: 200px;
    height: auto;
}

.text-container .badge-container p {
    margin: 2rem 0;
    width: auto;
}


.badge {
    display: flex;
    flex-direction: column;
}

.text-container h1 {
    margin: 10rem 0 0 2rem;
}

.text-container p {
    color: #7A7A7A;
    margin: 2rem;
    width: 800px;
}

.badge-container a {
    text-decoration: none;
    color: #7A7A7A;
    display: flex;
    align-items: center;
}

.badge-container a:visited {
    color: #ddd;
}

.badge-container a:hover {
    text-decoration: underline;
}

.badge-container svg {
    font-size: 20px;
    margin-right: 0.5rem;
}

@media only screen and (max-width: 1400px) {
    .text-container {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: 10rem;
        text-align: center;
    }

    .text-container p {
        text-align: left;
        width: auto;
    }

    .infos {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5rem 0 10rem 0;
    }

    .badge-container {
        margin-left: 0rem;
    }

    .text-container .badge-container  p{
        margin-left: 2rem;
    }

    .badge {
        display: flex;
        flex-direction: column;
    
        align-items: center;
        justify-content: center;
    }

    
}

@media only screen and (max-width: 1400px) {
    .badge-container img {
        width: 150px;
        height: auto;
    }

    
}



