@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background: #001542;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.header-content {
  display: flex;
  /* border: 1px solid cyan; */
  min-height: 100vh;

}

.expand {
  margin: 1rem 2rem;
  width: auto;
  min-height: 100px; 
}

.expand p {
  max-width: 300px;
}

.expand button {
  margin-top: 1rem;
  cursor: pointer;
  background: none;
  border: none;
  color: cyan;
}

.expand button:hover {
  text-decoration: underline;
}

.read_more_btn {
  border: none;
  background: none;
  color: cyan;
  margin-left: -2rem;
}

.read_more_btn:hover {
  text-decoration: underline;
  cursor: pointer;
}



@media only screen and (max-width: 450px) {
  .header-content {
    display: flex;
    /* border: 1px solid cyan; */
    height: 130vh;
  }

}